$purple-1: #dddef4;
$purple-2: #5358c7;
$purple-3: #4b4fb3;
$purple-4: #bbbcde;
$purple-5: #454ab2;
$yellow-1: #fef1cc;
$yellow-2: #f9bb00;
$yellow-3: #e0a800;
$green-1: #d8efeb;
$green-2: #3cad9a;
$green-3: #369c8b;
$red-1: #fadbdf;
$red-2: #e74b5e;
$red-3: #d04355;
$black: #1c1c1c;
$grey-1: #747474;
$grey-2: #c2c2c2;
$grey-3: #e9e9e9;
$grey-4: #f6f6f6;
$white: #ffffff;
$blue: #186bcc80;
